body{
	background: #F7F7F7;
	font-family: verdana;
	max-width: 940px;
	margin:  auto;
}

.photo {
	border: 1px solid #505050;
	border-radius: 50%;
	margin-top: 20px;
}

#title, .subtitle, .post_title {
	color: #505050;
}

#title {
	text-transform: uppercase;
	margin-left: 50px;
	display: inline;
	position: absolute;
	margin-top: 50px;
}

a {
	text-decoration: underline;
	color: #505050;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;

}

.post {
	background: #FFFFFF;
	padding: 15px;
	border: 3px solid #505050;
	margin-bottom: 15px;
	border-radius: 5px;
}

.post_content {
	margin: 0
	margin-bottom: 15px;
	text-transform: capitalize;
	font-weight: bold;
	text-align: justify;
}

.post_image {
	margin-bottom: 15px;
	width: 100%;
}

.contacts_list {
	list-style-type: none;
	padding-left: 15px;
}

.contacts_list li a {
	text-decoration: none;
	text
}